:root {
    --thumb-size: 24px;
    --bubble-size: 36px;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: var(--thumb-size);
    height: var(--thumb-size);
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #c6c6c6;
    cursor: pointer;
}

input[type='range']::-moz-range-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: var(--thumb-size);
    height: var(--thumb-size);
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #c6c6c6;
    cursor: pointer;
}

input[type='range']::-webkit-slider-thumb:hover {
    background: #f7f7f7;
}

input[type='range']::-webkit-slider-thumb:active {
    box-shadow:
        inset 0 0 3px #387bbe,
        0 0 9px #387bbe;
    -webkit-box-shadow:
        inset 0 0 3px #387bbe,
        0 0 9px #387bbe;
}

input[type='range'] {
    -webkit-appearance: none;
    appearance: none;
    height: 0px;
    z-index: 2;
    width: 100%;
    position: absolute;
    background-color: #c6c6c6;
    pointer-events: none;
}

.slider-container {
    position: relative;
    width: 100%;
    height: 50px;
}

.slider-background {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #c6c6c6;
    z-index: 0;
    transform: translateY(-50%);
}

.slider-fill {
    position: absolute;
    height: 5px;
    background-color: #387bbe;
    z-index: 1;
    transform: translateY(-50%);
}

.bubble {
    position: absolute;
    bottom: calc(var(--thumb-size) + var(--bubble-size) + 15px);
    background-color: #333;
    width: var(--bubble-size);
    height: var(--bubble-size);
    color: #fff;
    border-radius: 5px;
    font-size: 12px;
    text-align: center;
    line-height: var(--bubble-size); /* Center text vertically */
    margin: auto;
    z-index: 3;
}

.bubble-text {
    display: inline-block;
    vertical-align: middle;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #333;
    margin: 0 auto;
    position: absolute;
    bottom: -5px; /* Adjust to align with bubble */
    left: 50%;
    transform: translateX(-50%);
}
